doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="referrer", content="same-origin")

		title= title || app.name

		//- Bootstrap CSS
		link(href="/css/bootstrap.min.css", rel="stylesheet")
		link(href="/css/app.css", rel="stylesheet")
		
	body
		include ./includes/header

		.container
			block content

		include ./includes/footer
		
		//- ============== PLEASE MAINTAIN THE SCRIPT ORDER ==============

		//- Bootstrap Bundle with Popper
		script(src="/js/bootstrap.bundle.min.js")
		//- Utils Script
		script(src="/js/utils.js")
		//- Axios Script
		script(src="/js/axios.min.js")
		//- Api Script
		script(src="/js/api.js") 
		//- Custom Scripts
		script(src="/js/events/registrations.js")
		script(src="/js/users/owner.js")

